body{
	font-family: 'Roboto', sans-serif;
}
.index-box{
	background: rgba(51, 204, 51, 0.5);
	padding: 10px 10px;
	color: #0D6AB0;
	border: 2px solid #33cc33;
	text-align: center;
}

.box{
	display: inline;
}

