.btn-comprar {
    border-radius: 4px;
    border-color: #609dd2;
    background-color: #3277b3;
    color: #FFF;
    transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.btn-registrar:hover {
	background-color: #4c91cd;
	color: #FFF;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.required {
    position: absolute;
    right: 2%;
    color: #ff0000;
    font-size: 10px;
}
.red {
    color: #ff0000;
}
.blue {
    color: #337ab7;
}