body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.navbar-scrolled{
	min-height: 0;
	max-height: 40px;
}
.navbar-default {
    background-color: #262626;
    border-color: #262626;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:link, .navbar-default .navbar-nav>li>a:visited {
    color: #FFF;
    margin: 0 5px;
    transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
    background-color: #d9d9d9;
    /*font-weight: bold;*/
    transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.navbar-default .navbar-nav>.open>a:link, .navbar-default .navbar-nav>.open>a:visited, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #33cc33;
    background-color: #d9d9d9;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
 	text-align: right;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 12.5px;
}
.dropdown-menu {
	background-color: #595959;
}
.dropdown-menu>li>a {
	color: #fff;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.dropdown-menu>li>a:hover {
	background-color: #FFF;
    color: #337ab7;
    font-weight: bold;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
/*
 * 3 -> RESPONSIVE
 * ============================================
 */
 @media (min-width:1200px) {

 }
 @media (max-width:1199px) {

 }
@media (max-width:991px) {
 	.navbar-default .navbar-nav>li>a {
 		font-size: 12px;
 		margin: 0 2.5px;
 	}
 	.nav>li>a {
 	    padding: 15px 6.5px;
 	}
}
@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	    background-color: #FFF;
	    color: #e52d35;
	}
	.navbar .navbar-nav {
		width: 100%;
	}
	 .dropdown-menu {
        text-align: center;
	}
}
@media (max-width:479px) {
	
}